.logoHeader{
    width: 200px;
}
#btnEntrar{
    color: #FF9E01;
    border: 2px #FF7312;
    
    
}
#btnCadastrar{
    background-color: #FF7312;
    color: white;
    border: 2px #FF7312;
}
.lista-patrocinador{
    margin-top: 20px;
    margin-bottom: 20px;
}